<!DOCTYPE html>
<html ng-app="MyModule" ng-controller="MyController">

<head>
	<title>CX Bookmark Helper</title>
	<link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="popup.css" />

	<script src="Scripts/angular.min.js"></script>
	<script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
	<script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

	<script src="MyModule.js"></script>
	<script src="BookmarkService.js"></script>
	<script src="StorageService.js"></script>
	<script src="TabService.js"></script>
	<script src="popup.js"></script>
</head>

<!--the ng-app directive is the main entry point for angularJS-->

<body>
	<div class="content" ng-show="status == 'ready' || status == 'failed' || status == 'success'">
		<div class="alert alert-info" ng-show="status == 'processing'">
			<strong>Processing...</strong>
		</div>
		<div class="alert alert-success" ng-show="status == 'success'">
			<strong>Success</strong>
		</div>
		<div class="alert alert-danger" ng-show="status == 'failed'">
			<strong>Failed</strong>
		</div>
		<div ng-show="status == 'ready'" class="sizeFixed">
			<div style="float:right; margin-bottom:5px">
				<button type="button" class="btn btn-primary btn-xs" ng-click="deleteFolder()" ng-disabled="!model.folder.id">Delete Folder</button>
				<button type="button" class="btn btn-primary btn-xs" ng-click="renameFolder()" ng-disabled="!model.folder.id">Rename Folder</button>
				<button type="button" class="btn btn-primary btn-xs" ng-click="deleteModel()" ng-disabled="!model.currentBookmark">Delete Bookmark</button>
				<button type="button" class="btn btn-primary btn-xs" ng-click="saveModel()">Save Bookmark</button>
			</div>
			<div style="clear:both"></div>
			<input type="text" ng-model="model.url" class="form-control" placeholder="add url here" />
			<input type="text" ng-model="model.title" class="form-control" placeholder="add title here" />
			<input type="text" class="form-control" placeholder="choose folder here" ng-model="model.folder" ng-keypress="inputKeyPress($event)"
			 uib-typeahead="folderItem as folderItem.title for folderItem in folderList | filter:{title:$viewValue} | limitTo:5" typeahead-loading="true"
			 typeahead-on-select="folderChange()" my-auto-focus />
			<br />
			<div class="result-grid" ng-repeat="searchItem in searchResult track by $index">
				<a class="ellipsis" href="{{searchItem.url}}" ng-click="openTab(searchItem.url)" title="{{searchItem.url}}">{{searchItem.title}}</a>
				<button type="button" class="btn btn-link btn-xs" ng-click="removeBookmark(searchItem.id)">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
</body>

</html>