<!DOCTYPE html>
<html>
<head>
	<title>Smart Tag Extension</title>
	<link rel="stylesheet" type="text/css" href="popup.css" />
	<link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />

	<script src="Scripts/angular.min.js"></script>
	<script src="Scripts/angular-translate.min.js"></script>
	<script src="Scripts/angular-animate.min.js"></script>
	<!--<script src="Scripts/i18n/angular-locale_sv.js"></script>-->
	<!--<script src="Scripts/i18n/angular-locale_en.js"></script>-->
	<!--<script src="Scripts/i18n/angular-locale_ja-jp.js"></script>-->

	<script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>


	<script src="MyModule.js"></script>
	<script src="BookmarkService.js"></script>
	<script src="popup.js"></script>
</head>

<!--the ng-app directive is the main entry point for angularJS-->
<body ng-app="MyModule" ng-controller="MyController" class="popup-container">

	<input type="text" ng-model="model.title" class="form-control" placeholder="requesting title" />
	<input type="text" ng-model="model.url" class="form-control" placeholder="requeesting url" />

	<input type="text"
		   class="form-control"
		   ng-model="tagSelected"
		   placeholder="add tag here"
		   typeahead="tagItem for tagItem in tagList | filter:$viewValue"
		   typeahead-loading="true"
		   my-auto-focus
		   ng-keypress="inputKeyPress($event)" />

	<button type="button" class="btn btn-primary btn-xs" ng-repeat="tagItem in model.tags track by $index" ng-click="removeTag(tagItem)">{{tagItem}}</button>

	<!--<button type="button" class="btn btn-default btn-xs">
		<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
	</button>-->

	<hr />
</body>
</html>
