<!DOCTYPE html>
<html>
<head>
	<title>Smart Tag Extension</title>
	<link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="popup.css" />

	<script src="Scripts/angular.min.js"></script>
	<script src="Scripts/angular-translate.min.js"></script>
	<script src="Scripts/angular-animate.min.js"></script>
	<!--<script src="Scripts/i18n/angular-locale_sv.js"></script>-->
	<!--<script src="Scripts/i18n/angular-locale_en.js"></script>-->
	<!--<script src="Scripts/i18n/angular-locale_ja-jp.js"></script>-->

	<script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>


	<script src="MyModule.js"></script>
	<script src="BookmarkService.js"></script>
	<script src="StorageService.js"></script>
	<script src="popup.js"></script>
</head>

<!--the ng-app directive is the main entry point for angularJS-->
<body ng-app="MyModule" ng-controller="MyController" style="padding:5px 5px 5px 5px;">

	<div class="alert alert-info" ng-show="status == 'processing'">
		<strong>Processing...</strong>
	</div>

	<div class="alert alert-success" ng-show="status == 'success'">
		<strong>Success</strong>
	</div>

	<div class="alert alert-danger" ng-show="status == 'failed'">
		<strong>Failed</strong>
	</div>

	<div ng-show="status == 'ready'" style="width: 600px; height:500px">
		<input type="text" ng-model="model.url" class="form-control" placeholder="add url here" />

		<input type="text" ng-model="model.title" class="form-control" placeholder="add title here" />

		<input type="text"
			   class="form-control"
			   ng-model="model.folder"
			   placeholder="choose folder here"
			   typeahead="folderItem as folderItem.title for folderItem in folderList | filter:{title:$viewValue} | limitTo:5"
			   typeahead-loading="true"
			   typeahead-no-results="noResults"
			   my-auto-focus />

		<br />

		<button type="button" class="btn btn-primary btn-xs" ng-repeat="tagItem in model.tags track by $index" ng-click="removeTag(tagItem)">{{tagItem}}</button>

		<button type="button" class="btn btn-primary btn-xs" ng-click="saveModel()">Save</button>

		<button type="button" class="btn btn-primary btn-xs" ng-click="deleteModel()">Delete</button>

		<button type="button" class="btn btn-default btn-xs">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		</button>

		<hr />

		<div ng-repeat="searchItem in searchResult track by $index">
			<a href="{{searchItem.url}}" ng-click="openTab(searchItem.url)" title="{{searchItem.url}}">{{searchItem.title}}</a>
		</div>
	</div>
	
</body>
</html>
